/* Student Name: Rajvansh Singh
   Student Number: 8862041 */

   .structural {
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
}

header {
    background-color: hsl(69, 87%, 47%); /* Header background color */
}

header h1 {
    color: brown;
    font-size: 24px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    border: 2px solid indigo;
    color: indigo;
    font-family: Arial, sans-serif;
    background-color: cornsilk;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: rgb(130, 0, 7);
}

main {
    float:left;
    margin: 0 auto;
    width: 65vw;
    background-color: hsl(120, 50%, 90%); /* Main background color */
}

main p {
    line-height: 1.4;
    color: rgba(113, 131, 60, 0.8);
}

main a {
    color: rgba(21, 193, 49, 0.8);
}

/* Form styling */
form {
    border: 5px dashed #3498db; /* Change color as needed */
    width: 60%;
    display: block;
}

/* Input styling */
form [type="text"],
form [type="email"],
form [type="submit"],
form select,
form option {
    width: 50%;
    display: block;
    height: 2em;
}

/* Radio and Checkbox styling */
form [type="radio"],
form [type="checkbox"] {
    width: 2em;
    height: 2em;
}

/* Font styling */
form,
form label,
form legend,
form select,
form option,
input[type=submit],
form nav a {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

/* Textarea styling */
form textarea {
    width: 50%;
    display: block;
}

/* Fieldset styling */
form fieldset {
    border: none;
}

aside {
    float: right;
    width: 25vw;
    background-color: hsl(180, 50%, 90%); /* Aside background color */
}
s
aside ul {
    list-style-type: circle;
}

aside li {
    line-height: 1.4;
    color: rgba(113, 131, 60, 0.8);
}

aside a:hover {
    color: rgba(21, 193, 49, 1);
}

footer {
    clear: both;
    background-color: hsl(240, 50%, 90%); /* Footer background color */
}

#paragraph1 {
    color: rgba(235, 15, 194, 0.896); /* Red font color for paragraph 1 */
}

#paragraph2 {
    color: rgb(0, 0, 255); /* Blue font color for paragraph 2 */
}

a:hover {
    color: #f00; /* Red font color on hover for links */
}

footer p {
    font-size: 0.75em;
}
